:root {
    --bg-dark: #212121;
    --bg-card: #313131;
    --text-light: #f5f5f5;
    --text-dark: #2a2a2a;
    --accent: #23b5d0;
    --bg-light: #f5f5f5;
    --bg-card-light: #ffffff;
	--font0: 1.1rem;
	--font1: 1.2rem;
	--font2: 1.3rem;
	--font-head: 2rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik';
    background-color: var(--bg-dark);
    color: var(--text-light);
    line-height: 1.6;
    transition: background-color 0.3s, color 0.3s;
}

body.light-mode {
    background-color: var(--bg-light);
    color: var(--text-dark);
}

#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(26, 26, 26, 0.345);
    backdrop-filter: blur(10px);
    padding: 1rem 2rem;
    z-index: 1000;
	font-size: var(--font1);
}

body.light-mode #navbar {
    background: rgba(255, 255, 255, 0.9);
}

.nav-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 2rem;
    align-items: center;
}

.nav-content a {
    color: var(--text-light);
    text-decoration: none;
    transition: color 0.3s;
}

body.light-mode .nav-content a {
    color: var(--text-dark);
}

.nav-content a:hover {
    color: var(--accent);
}

.theme-toggle {
    margin-left: auto;
    position: relative;
    width: 60px;
    height: 30px;
    background: var(--bg-card);
    border-radius: 15px;
    cursor: pointer;
    transition: background 0.3s ease;
}

#theme-toggle:hover {
    opacity: 0.8;
}

body.light-mode .theme-toggle {
    background: #ddd;
}

.theme-toggle input {
    display: none;
}

.theme-toggle .slider {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 24px;
    height: 24px;
    background: var(--accent);
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.theme-toggle input:checked + .slider {
    transform: translateX(30px);
}

section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 4rem 2rem;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#hero {
    text-align: center;
}

#hero h1 {
    font-size: 4rem;
    margin-bottom: 0.5rem;
}

#hero h2 {
    font-size: var(--font-head);
    color: var(--accent);
    margin-bottom: 2rem;
}

/* Hero Link Buttons */

.links {
    display: flex;
    gap: 2rem;
    justify-content: center;
	font-size: var(--font1);
}

.links a {
    color: var(--text-light);
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    border: 2px solid var(--accent);
    border-radius: 16px;
    transition: all 0.3s;
}

body.light-mode .links a {
    color: var(--text-dark);
}

body.light-mode .links a:hover {
    color: var(--text-light);
}

.links a:hover {
    background: var(--accent);
    color: var(--text-dark);
}

/* ------ */

.card {
	/* border: 2px solid var(--bg-card); */
    /* background: var(--bg-card); */
    padding: 2rem;
    border-radius: 20px;
    margin-bottom: 2rem;
	font-size: var(--font1);
	max-width: 800px;
}

body.light-mode .card {
    /* background: var(--bg-card-light); */
}

.card h2 {
	color: var(--accent);
}

.card h3 {
	color: var(--accent);
}

.contact-card {
    /* background: var(--bg-card); */
    padding: 2rem;
    border-radius: 20px;
    margin-bottom: 2rem;
	font-size: var(--font1);
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.project-card {
    background: var(--bg-card);
    padding: 2rem;
    border-radius: 20px;
    transition: transform 0.3s ease, background 0.3s ease; /* Add transition to base state */
	font-size: 1.1rem;
}

.project-card:hover {
    transform: translateY(-10px);
    background: var(--accent);
}

.project-card:hover h3 {
	color: var(--bg-card);
}

body.light-mode .project-card:hover h3 {
	color: var(--bg-light);
}

.project-card:hover a {
	color: var(--bg-card);
}

/* card background color in light mode */
body.light-mode .project-card {
    background: var(--bg-card-light);
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

/* card background color in light mode on HOVER */
body.light-mode .project-card:hover {
    transform: translateY(-10px);
    background: var(--accent);
}

/* card Links color in light mode on card HOVER*/
body.light-mode .project-card:hover a {
    transform: translateY(-10px);
    color: var(--bg-light);
}

/* card Text color in light mode on card HOVER*/
body.light-mode .project-card:hover p {
    color: var(--bg-light);
}

/* card Text color on card HOVER*/
.project-card:hover p {
    color: var(--bg-card);
}

#projects h2 {
	margin-bottom: 0.6rem;
	text-align: center;
	font-size: var(--font-head);
}

.project-card h3 {
    color: var(--accent);
    margin-bottom: 1rem;
	font-size: var(--font2);
}	

.tech {
    font-size: 0.9rem;
    opacity: 0.7;
    margin: 1rem 0;
}

.project-card a {
    display: inline-block;
    margin-top: 1rem;
    margin-right: 1rem;
    color: var(--accent);
    text-decoration: none;
    transition: opacity 0.3s;
}

.project-card a:hover {
    opacity: 0.7;
}

#contact-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center; /* This centers the inputs */
}

#contact h2 {
	font-size: var(--font-head);
	text-align: center;
}

#contact-form input,
#contact-form textarea {
    padding: 1rem;
    border: 1.6px solid var(--text-light);
    border-radius: 16px;
	background: none;
    color: var(--text-light);
    font-family: inherit;
    font-size: 1rem;
    width: 100%; /* Full width of container */
    max-width: 600px;
}

body.light-mode #contact-form input,
body.light-mode #contact-form textarea {
	background: none;
    color: var(--text-dark);
	border: 1.6px solid var(--text-dark);
}

#contact-form textarea {
    min-height: 150px;
    resize: vertical;
	background: none;
}

#contact-form button {
    padding: 1rem 2rem;
    background: transparent;
    border: 2px solid var(--accent);
    border-radius: 16px;
    color: var(--text-light);
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
    max-width: 180px;
    width: 100%;
	font-size: var(--font0);
}

#contact-form button:hover {
    background: var(--accent);
    color: var(--text-light);
}

#contact-form button:hover {
    background: var(--accent);
    color: var(--text-dark);
}

body.light-mode #contact-form button {
    color: var(--text-dark);
}

body.light-mode #contact-form button:hover {
    background: var(--accent);
    color: var(--text-light);
}

.alternate-subtitle {
	font-size: 1.3rem;
	font-weight: bold;
}

/* --------------- Header Effects --------------- */

/* -------- Initial hidden states */
#hero h1 {
    opacity: 0;
    transform: translateY(200px);
}

#hero h2 {
    opacity: 0;
    transform: translateY(150px);
}

#hero .links {
    opacity: 0;
    transform: translateY(100px);
}

/* -------- Revealed states WITH delays */

#hero h1.fade-in-up {
    opacity: 1;
    transform: translateY(0px);
    transition: 
		opacity 0.8s ease 0.2s, 
		transform 0.8s ease 0.2s;
}

#hero h2.fade-in-up {
    opacity: 1;
    transform: translateY(0px);
    transition: 
		opacity 0.8s ease 0.35s, 
		transform 0.8s ease 0.35s;
}

#hero .links.fade-in-up {
    opacity: 1;
    transform: translateY(0px);
    transition: 
		opacity 0.8s ease 0.5s, 
		transform 0.8s ease 0.5s;
}


/* --------- Viewport --------- */

@media (max-width: 768px) {
    #hero h1 {
        font-size: var(--font-head);
    }
    
    .nav-content {
        flex-wrap: wrap;
        gap: 1rem;
    }
    
    .project-grid {
        grid-template-columns: 1fr;
    }
}
